:root {
  color: var(--font-color-main);
  font-size: var(--font-main-size);
}

:global {
  body {
    background: var(--background-color-main);
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button,
  input {
    outline: 0;
    box-shadow: none;
  }

  #root {
    height: 100%;
  }
}
