* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: $font-main-regular; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

button,
input {
  outline: 0;
  box-shadow: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
