$base-color: #c6538c;

/* ----------------------------------------
     Fonts
*/
$font-main-regular: 'Roboto-Regular', sans-serif;
$font-main-medium: 'Roboto-Medium', sans-serif;
$font-main-bold: 'Roboto-Bold', sans-serif;
$font-main-black: 'Roboto-Black', sans-serif;
$font-main-size: 14px;

/* ----------------------------------------
     Colors
*/
$color-main: #fff;

/* Background */
$background-color-main: #fff;

/* Fonts */
$font-color-main: #333;
